/.idea/
/spring-reactive-microservice/target/
/spring-service-discovery/target/
/spring-cloud-gateway/target/

# Project exclude paths
/customer-reactive-microservice/target/
/spring-service-registry/target/